# Datascience in Python course

## <span style="color:blue">DataFrame Pandas</span>

onee... **PANDAS**

Pandas is een package waarmee tabulaire data vanuit externe databronnen geïmporteerd, bewerkt, en opgeslagen kan worden. De naam is afkomstig van de term **‘panel data’**, een begrip uit de statistiek. Toch niet van echte pandas...

In [1]:
import pandas as pd
import numpy as np

In [ ]:
pd.Series?

In [ ]:
pd.DataFrame?

### Programma ochtend

    1 Datastructuur Pandas
        1.1 List naar DF    
        1.2 Dict naar DF 
        1.3 DF importeren 
        1.4 Oefening
    2 Data inlezen
        2.1 Specifieke data
        2.2 Nog specifieker..
        2.3 Missende waardes
        2.4 Groupby
        2.5 Oefening
    3 Data imputeren
        3.1 Waarom?
        3.2 Correlaties in data
        3.3 Slicing
        3.4 fillnone()
        3.5 feature engineering
        3.6 Oefening
    4 Oefenen met een kleine dataset
        4.1 Onbekende waardes 'voorspellen'

## 1. Datastructuur Pandas

We hebben vorige week gewerkt met verschillende soorten datastructuren. Laten we kijken of we deze kunnen 'hergebruiken'.

### 1.1 List naar DF    
   
`pd.DataFrame(list, columns=None)`

In [ ]:
mijn_LIST = ['1', 2, 3, 'NEW']

In [ ]:
pd.DataFrame(mijn_LIST)

In [ ]:
pd.DataFrame(mijn_LIST, columns=["Content"], index=['Een', 'Twee', 'Drie', 'Vier'])

### 1.2 Dict naar DF

In [4]:
klas = {'David': 7.4, 'Sergio': 8.1, 'Minoes': 7.7, 'Alexa': 6.999, 'Ceasar': 9.6, 'Billie': 5.4, 'Katja': 8.5}

In [3]:
pd.DataFrame(klas)

ValueError: If using all scalar values, you must pass an index

In [5]:
series = pd.Series(klas, name='Score')
series

David     7.400
Sergio    8.100
Minoes    7.700
Alexa     6.999
Ceasar    9.600
Billie    5.400
Katja     8.500
Name: Score, dtype: float64

In [6]:
pd.DataFrame(series)

        Score
David   7.400
Sergio  8.100
Minoes  7.700
Alexa   6.999
Ceasar  9.600
Billie  5.400
Katja   8.500

### Wat gebeurder er?!

De **values** hebben geen index. Dit kan gelukkig voorkomen worden. Hieronder drie opties

Geef de Dictionary mee als een list samen met een Index. Je komt hier tegen het probleem aan dat de DataFrame wordt getransposed. De keys zijn nu attributen, geen datapunten. Je kan het gelukkig terug transposen met DF.T

In [7]:
klas_df = pd.DataFrame([klas], index=['Score'])
klas_df

       David  Sergio  Minoes  Alexa  Ceasar  Billie  Katja
Score    7.4     8.1     7.7  6.999     9.6     5.4    8.5

In [8]:
klas_df.T

        Score
David   7.400
Sergio  8.100
Minoes  7.700
Alexa   6.999
Ceasar  9.600
Billie  5.400
Katja   8.500

Het was een beetje een omweg.. gelukkig kan het ook in een keer. Geef de keys en values van de Dictionary mee in een list. Geef bij de `columns` parameter de namen van de attributen mee.

In [9]:
items_klas = list(klas.items())
items_klas

[('David', 7.4),
 ('Sergio', 8.1),
 ('Minoes', 7.7),
 ('Alexa', 6.999),
 ('Ceasar', 9.6),
 ('Billie', 5.4),
 ('Katja', 8.5)]

In [13]:
klasDF = pd.DataFrame(items_klas, columns=['Unnamed: 0', 'Score'])
klasDF

  Unnamed: 0  Score
0      David  7.400
1     Sergio  8.100
2     Minoes  7.700
3      Alexa  6.999
4     Ceasar  9.600
5     Billie  5.400
6      Katja  8.500

### 1.3 DF importeren 
   
Een dataset wordt geimporteerd via de volgende functie 

`pd.read_csv('file.csv')`

Neem eens een kijkje in het csv bestand vanuit de jupyter notebook omgeving en kijk of je het kan aanpassen. Importeer het vervolgens opnieuw.

In [12]:
klasDF2 = pd.read_csv('data/data.csv')
klasDF2

,Unnamed: 0,slaap_uren,koffie,spiekbriefje,studie_uren,ochtend_humeur,aantal_min_op_tijd,tijd_besteed_aan_examen_min,lengte,adhd,links_handig
0,David,7,0,0,NaN,0,15,162,189.0,0,0.0
1,Alexa,7,1,0,27.0,1,9,180,176.0,1,0.0
2,Ceasar,9,0,1,18.0,0,40,140,165.0,1,NaN
3,Billie,3,1,0,8.0,1,2,180,NaN,0,1.0
4,Katja,8,0,0,44.0,0,14,180,171.0,0,0.0
5,Sergio,6,1,0,46.0,1,5,170,192.0,1,NaN
6,Minoes,6,1,0,35.0,0,18,154,167.0,0,0.0
7,Jack,4,1,0,26.0,1,0,180,176.0,0,0.0
8,Pino,8,0,1,34.0,0,6,169,192.0,1,0.0
9,Obama,8,0,0,48.0,0,15,180,186.0,0,0.0
10,Donald,10,1,1,14.0,1,2,40,181.0,0,1.0

### 1.4 Oefening

Gebruik de functie `pd.concat([df1, df2], axis=1)` met de parameters die erbij zijn gegeven om de twee DataFrames samen te voegen. Denk hierbij aan: 

1. Wat staat er in mijn .csv file? Is het handig om deze handmatig aan te passen? 
2. Haal ik mijn data correct binnen? Is er bijvoorbeeld een verschil in de namen per attribuut?
3. Waar kan ik het best op groeperen (mergen)? Alleen als je de functie `merge(df1, df2, how=None)` gebruikt als [alternatief](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).
4. Indien je merge gebruikt, geef aan met `left`, `right` of `inner` waar op wordt ge-merged

In [22]:
# Eigen code
klas_conc = pd.concat([klasDF,klasDF2],join='outer')

klas_merge = klasDF.merge(klasDF2, how = 'outer', left_on='Unnamed: 0', right_on='Unnamed: 0')


klas_merge

,Unnamed: 0,Score,slaap_uren,koffie,spiekbriefje,studie_uren,ochtend_humeur,aantal_min_op_tijd,tijd_besteed_aan_examen_min,lengte,adhd,links_handig
0,David,7.400,7,0,0,NaN,0,15,162,189.0,0,0.0
1,Sergio,8.100,6,1,0,46.0,1,5,170,192.0,1,NaN
2,Minoes,7.700,6,1,0,35.0,0,18,154,167.0,0,0.0
3,Alexa,6.999,7,1,0,27.0,1,9,180,176.0,1,0.0
4,Ceasar,9.600,9,0,1,18.0,0,40,140,165.0,1,NaN
5,Billie,5.400,3,1,0,8.0,1,2,180,NaN,0,1.0
6,Katja,8.500,8,0,0,44.0,0,14,180,171.0,0,0.0
7,Jack,NaN,4,1,0,26.0,1,0,180,176.0,0,0.0
8,Pino,NaN,8,0,1,34.0,0,6,169,192.0,1,0.0
9,Obama,NaN,8,0,0,48.0,0,15,180,186.0,0,0.0
10,Donald,NaN,10,1,1,14.0,1,2,40,181.0,0,1.0

## 2.1 Data inlezen

We hebben data ge-importeerd. Inlezen lijkt in sommige vormen op. De eerste truc voor een snelle inzage: 

`DF.info()`

In [ ]:
klas_concat

In [ ]:
klas_concat.info()

### 2.1 Specifieke data
Stel je wil een specifiek datapunt weten in het DataFrame. `DF[0]` zal niet werken. Pandas werkt veel intuitiever. Je vraagt net als met dictionaries met het key-value principe de kolom aan die je wilt. 

`DF['column_name']` of `DF['column_name1', 'column_name2', 'column_name3' ... ]`

In [ ]:
print(klas_concat.Name)

In [ ]:
klas_concat['Name']

In [ ]:
klas_concat[['Name', 'koffie']]

Stel je wilt alleen de laatste 4 kolommen? Dat kan..

In [ ]:
klas_concat[klas_concat.keys()[-4:]]

### 2.2 Nog specifieker..

#### 2.2.1 Pandas Conditioneren

Je kan voor de volledige tableau controleren of het voldoet aan een bepaalde conditie.

**Theorie** : Als je nu enkel een paar rijen wil zien (bijvoorbeeld iedereen die thee heeft gedronken), dan gebruik je de volgende functie:

`DF['column_name'] == 1` voor het achterhalen van welke `True` of `False` zijn.

`DF[DF['column_name'] == 1]` voor het selecteren van de rijen die `True` zijn.

In [ ]:
klas_concat['Name'] == 'Alexa'

In [ ]:
klas_concat[klas_concat['Name']=='Alexa']

In [ ]:
klas_concat[klas_concat['Name']!='Alexa']

In [ ]:
klas_concat[(klas_concat['slaap_uren']<8) & (klas_concat['ochtend_humeur'] == 1)]

In [ ]:
klas_concat[(klas_concat['slaap_uren']<8) & (klas_concat['ochtend_humeur'] == 1)][['Name', 'Score']]

#### 2.1.1 Oefening

Zoals we eerder hebben gedaan met forloops, laten we de rijen selecteren die een hogere `Score` hebben dan 7. Laat alleen de attributen zien waarvan jij denkt dat ze invloed hadden op de score van de leerlingen (je kan ze zelfs op een andere, volgens jou betere, volgorde zetten).

In [ ]:
# Eigen code

### 2.3 Missende waardes

Bruikbare functies: 

`DF.isnull()` of `DF.notnull()`

`DF.sum()` berekend

In [ ]:
klas_concat.isnull().sum()

In [ ]:
klas_concat[klas_concat['Score'].isnull()]

In [ ]:
klas_concat[klas_concat['links_handig'].isnull()]

### 2.4 Groupby

Dit returnt een `DataFrameGroubBy` object, wat ansich nog niks laat zien. Maak gebruik van de volgende functies:

`DataFrameGroubBy.mean()` of `DataFrameGroubBy.sum()` of `DataFrameGroubBy.min()` of `DataFrameGroubBy.max()`

Zie [link](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html) voor de volledige documentatie.

In [ ]:
klas_concat.groupby(['koffie'])

In [ ]:
klas_concat.groupby(['koffie']).mean()

#### Wat laat dit zien? 
Geen koffie drinkers hebben een hogere score..

In [ ]:
klas_concat.groupby(['koffie','ochtend_humeur']).mean()

Wat blijkt? Het ligt niet aan de koffie, maar aan het ochtend humeur. Begrijp je data!

### 2.5 Oefening

Zoek naar correlaties in je data. Welke scheppen inzicht?

In [ ]:
# Eigen code

## 3 Data imputeren

### 3.1 Waarom?

Bruikbare informatie toevoegen en overbodige informatie verwijderen. Haal meer uit je data.

1. Kolommen toevoegen
2. NaN values invullen
3. Kolommen verwijderen
4. Data normaliseren

### 3.2 Correlaties in data

Pandas heeft een correlatie functie `DF.corr()` De standaard formule hiervoor is Pearson's. Die van Spearman werkt goed voor non normal distributed data (skewed data).

`Pearson` : $\rho = \frac{\text{cov}(X,Y)}{\sigma_x \sigma_y}$
    
`Spearman` : $\tau = \frac{c-d}{c+d} = \frac{S}{
	\left(
	\begin{matrix} 
 	n \\
 	2
\end{matrix}
\right)}
= \frac{2S}{n(n-1)}$

In [ ]:
klas_concat[['Score', 'slaap_uren']].corr(method='pearson')

In [ ]:
klas_concat[['Score', 'slaap_uren']].corr(method='spearman')

#### 3.2.2 Verder zelf onderzoeken! 

Meeste inzicht krijg je door in je data te duiken.

In [ ]:
klas_concat.corr()

### 3.3 Slicing

Gebruik hiervoor indexing. Bruikbare functies zijn: 

`DF.loc['index nummer']`

`DF['kolom naam']`

In [ ]:
klas_concat.sort_index()

In [ ]:
klas_concat.loc[1:3]

In [ ]:
klas_concat.loc[1:3]['Name']

In [ ]:
for i in range(len(klas_concat)):
    print(klas_concat.loc[i]['Name'])

In [ ]:
klas_concat[list(klas_concat.keys())[:2]]

### 3.4 Distribution data

- Wat kan je hier uit halen?
- Een distribution laat zien hoe de data verdeeld is. 
- Seaborn is een visualisatie package die 

`import seaborn as sns`

`sns.set(color_codes=True)`

`sns.distplot(x);`

In [ ]:
import seaborn as sns

sns.set(color_codes=True)

sns.distplot(klas_concat['slaap_uren'], bins=len(klas_concat), rug=True);

### 3.4 fillnone()

- Wat voor invloed krijgt het invullen van missende waarde? 
- Hoe goed kan je (adhv correlaties) missende data invullen?

Gebruik hiervoor indexering of de functie `df.fillna(value)`

Stel we hebben de kennis dat de [Napleon](https://www.quora.com/Was-Napoleon-right-or-left-handed) links handig was, een weloversproken hypothese. Dan kunnen we deze als volgt invullen:

In [ ]:
klas_concat.loc[2, 'links_handig'] = 1

In [ ]:
klas_concat

### 3.5 Oefening

Vul de onbekende waardes in voor 

- Billie 'lengte'  
Van Billie hebben we kennis dat hij langer is dan Obama, maar kleiner dan Pino.  
- David 'studie_uren'  
Bekijk welke attributen een sterke correlatie hebben met 'studie_uren'. Groepeer daarop om een zo dicht mogelijk bij de werkelijke waarde te komen.  
- Sergio 'links_handig'  
Doe het zelfde voor links handig met Sergio.

In [ ]:
# Eigen code

## 4 Oefenen met een kleine dataset

### 4.1 Onbekende waardes 'voorspellen'

We zijn nog niet toe aan een Machine Learning model, maar we kunnen alvast zelf een voorspelling maken.. 

Ga adhv grouping en correlaties na wat een waarschijnlijke `Score` is voor de 4 leerlingen waar het onbekend is.

In [ ]:
# Eigen code