# Datascience in Python - Novalinq cursus

                                                                                                         Thijs van der Knaap
                                                                                                            
In dit notebook ga ik mijn eindopdracht voor de cursus datascience in Python opschrijven. Ik zal beginnen met het beschrijven van het doel van de opdracht, de businessvragen die ik hoop te beintwoorden en het identificeren van de stakeholders die baat kunnen hebben bij deze opdracht. Daarna zal ik de data die ik ga gebruiken voor deze opdracht importeren en verrijken met data van andere bronnen. Daarna ga ik deze data exploreren en visualiseren om zo een beeld te geven van de dataset. Als laatste zal ik de data gebruiken om ziekteverzuim te voorspellen.

# Doel van de opdracht
In het kader van de data & analytics Python cursus die ik volg bij Novalinq ga ik een portfolio opdracht maken om de cursus mee af te sluiten. Vanuit Robidus heb ik vernomen dat eer een wens is om door middel van data analyse meer inzicht te krijgen in de factoren die invloed hebben op het verzuim van een werknemer en de mogelijkheid om op basis van data te kunnen voorspellen wat de kans is dat iemand langdurig verzuimt. Aangezien ik in dit stadium geen Robidus data kon gebruiken voor mijn data zullen de uitkomsten niet direct bruikbaar zijn voor Robidus maar ik hoop dat deze opdracht kan dienen als 'proof of concept' voor het gebruik van predicitive analytics voor het voorspellen van ziekteverzuim op basis van data.

# Businessvragen

De businessvragen die ik wil beantwoorden zijn:
1.	Welke factoren hebben invloed op de kans dat iemand langdurig verzuimt?
2.	Kunnen we voorspellen of iemand (langdurig) zal verzuimen in het komende jaar?

# Stakeholders

De stakeholders die belangrijk zijn voor dit onderzoek zijn:

-	Wia (Wet werk en inkomen naar arbeidsvermogen) casemanagers en consultants die hierdoor beter advies kunnen geven aan klanten.
-	Klanten van Robidus die hierdoor preventief in kunnen spelen op risico’s binnen hun huidige en toekomstige werknemersbestand.
-	Werknemers omdat zij vroegtijdig geholpen kunnen worden wanneer er een verhoogd risico is op verzuim en zo minder lang thuis hoeven te zitten (indirect voordeel).

#### Einde introductie
Hiermeer komt er een einde aan de introductie en gaan we verder met de volgende stap, het importeren van packages en data en het prepareren van deze data voor analyse.

# Importeren packages

In [10]:

# algemeen
import pandas as pd
import numpy as np
# visualisatie
import seaborn as sns

# scraping 
import requests
from bs4 import BeautifulSoup

# Importeren data

Aangezien ik geen data kon krijgen van mijn werkgever zal ik data van Kaggle gebruiken voor dit project. Ik gebruik de dataset: Absenteeism Dataset (https://www.kaggle.com/HRAnalyticRepository/absenteeism-dataset) die data bevat over absenteeism (ziekteverzuim) onder mensen in Canada.

In [428]:
# hier importeren data
raw_data = pd.read_csv('MFGEmployees4.csv')

# Verrijken data/Prepareren van de data
Voordat we gaan verrijken moeten we eerst kijken welke data er in de dataset zit en hoe we extra data kunnen halen uit de bestaande kolommen of nieuwe data kunnen toevoegen.

In [467]:
raw_data.head()

,EmployeeNumber,Surname,GivenName,Gender,City,JobTitle,DepartmentName,StoreLocation,Division,Age,LengthService,AbsentHours,BusinessUnit,workinhometown
0,1,Gutierrez,Molly,F,Burnaby,Baker,Bakery,Burnaby,Stores,32.028816,6.018478,36.577306,Stores,1
1,2,Hardwick,Stephen,M,Courtenay,Baker,Bakery,Nanaimo,Stores,40.320902,5.532445,30.165072,Stores,0
2,3,Delgado,Chester,M,Richmond,Baker,Bakery,Richmond,Stores,48.822047,4.389973,83.807798,Stores,1
3,4,Simon,Irene,F,Victoria,Baker,Bakery,Victoria,Stores,44.599357,3.081736,70.020165,Stores,1
4,5,Delvalle,Edward,M,New Westminster,Baker,Bakery,New Westminster,Stores,35.697876,3.619091,0.000000,Stores,1

#### Data
De data bestaat uit de volgende kolommen:

EmployeeNumber: Werknemersnummer (index), deze kolom is niet interessant voor de analyse omdat het willekeurig gegenereerd is.

Surname: Achternaam, deze kolom heeft geen voorspellende waarde. 

GivenName: Voornaam, deze kolom heeft geen voorspellende waarde.

Gender: Sekse, deze kolom is interessant omdat er een verschil kan zijn tussen de seksen op het gebied van ziekteverzuim.

City: Woonplaats, deze kolom kan interessant zijn omdat leefomgeving effect heeft op ziekteverzuim.

JobTitle: Functietitel, deze kolom kan interessant zijn omdat sommige functies meer gevoelig zouden kunnen zijn voor verzuim dan anderen.

DepartmentName: Afdelingsnaam, deze kolom kan interessant zijn omdat sommige afdelingen meer gevoelig zouden kunnen zijn voor verzuim dan anderen.

StoreLocation: Winkellocatie, Het is interessant om te kijken of verschillende locaties van winkel verschillende ziekteverzuimnummer hebben. 

Devision: Devisie, deze kolom kan interessant zijn omdat sommige devisies meer gevoelig zouden kunnen zijn voor verzuim dan anderen.

Age: Leeftijd, Leeftijd houd normaliter sterk verband met afwezigheid

LengthService: Lengte van dienstverband, het lengte van het dienstverband zou zowel positief als negatief kunnen zijn voor ziekteverzuim (loyaliteit vs. routine/verveling).

AbsentHours: Uren Absent, hetgene wat we willen voorspellen.

In [468]:
raw_data.describe()

       EmployeeNumber          Age  LengthService  AbsentHours  workinhometown
count     8336.000000  8336.000000    8336.000000  8336.000000     8336.000000
mean      4168.500000    42.007086       4.782910    61.283978        0.710893
std       2406.540255     9.939798       2.462990    49.038365        0.453375
min          1.000000     3.504743       0.012098     0.000000        0.000000
25%       2084.750000    35.298748       3.575892    19.127590        0.000000
50%       4168.500000    42.114924       4.600248    56.005808        1.000000
75%       6252.250000    48.666943       5.623922    94.284692        1.000000
max       8336.000000    77.938003      43.735239   272.530123        1.000000

In [469]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8336 entries, 0 to 8335
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EmployeeNumber  8336 non-null   int64
 1   Surname         8336 non-null   object
 2   GivenName       8336 non-null   object
 3   Gender          8336 non-null   object
 4   City            8336 non-null   object
 5   JobTitle        8336 non-null   object
 6   DepartmentName  8336 non-null   object
 7   StoreLocation   8336 non-null   object
 8   Division        8336 non-null   object
 9   Age             8336 non-null   float64
 10  LengthService   8336 non-null   float64
 11  AbsentHours     8336 non-null   float64
 12  BusinessUnit    8336 non-null   object
 13  workinhometown  8336 non-null   int32
dtypes: float64(3), int32(1), int64(1), object(9)
memory usage: 879.3+ KB

In [470]:
raw_data.describe(include=np.object)

,Surname,GivenName,Gender,City,JobTitle,DepartmentName,StoreLocation,Division,BusinessUnit
count,8336,8336,8336,8336,8336,8336,8336,8336,8336
unique,4051,1625,2,243,47,21,40,6,2
top,Johnson,James,M,Vancouver,Cashier,Customer Service,Vancouver,Stores,Stores
freq,106,182,4216,1780,1703,1737,1836,8163,8163

In [471]:
def unique(field, new_field):
    keys = field.unique()
    dicts = dict(zip(keys, range(len(keys))))
    print(dicts)
    raw_data[new_field] = field.map(dicts).astype(int)
    
unique(raw_data.Gender, 'MappedGender')
unique(raw_data.City, 'MappedCity')
unique(raw_data.JobTitle, 'MappedTitle')
unique(raw_data.DepartmentName, 'MappedDept')
unique(raw_data.StoreLocation, 'MappedStoreLoc')
unique(raw_data.Division, 'MappedDivision')

{'F': 0, 'M': 1}
{'Burnaby': 0, 'Courtenay': 1, 'Richmond': 2, 'Victoria': 3, 'New Westminster': 4, 'Vancouver': 5, 'Sechelt': 6, 'Kamloops': 7, 'North Vancouver': 8, 'Vananda': 9, 'West Vancouver': 10, 'Nanaimo': 11, 'Aldergrove': 12, 'Kelowna': 13, 'Trail': 14, 'Penticton': 15, 'Duncan': 16, 'Crawford Bay': 17, 'Port Hardy': 18, 'Logan Lake': 19, 'Abbotsford': 20, 'Dawson Creek': 21, 'Surrey': 22, 'Squamish': 23, 'Good Hope Lake': 24, 'Sidney': 25, 'Coquitlam': 26, 'Chilliwack': 27, 'Okanagan Mission': 28, 'Ganges': 29, 'Prince George': 30, 'Atlin': 31, 'Whistler': 32, 'Spences Bridge': 33, 'New Westminister': 34, 'Gibsons': 35, 'Vernon': 36, 'Fauquier': 37, 'Mackenzie': 38, 'Gold Bridge': 39, 'Fort Fraser': 40, 'Nelson': 41, 'Kaslo': 42, 'Creston': 43, 'Wynndel': 44, 'Muncho Lake': 45, 'Kitimat': 46, 'Lac La Hache': 47, 'Armstrong': 48, 'Quesnel': 49, 'Hixon': 50, 'Ocean Falls': 51, 'Vallican': 52, 'North Pender Island': 53, 'Montney': 54, 'Burns Lake': 55, 'Midway': 56, 'Westwold': 57, 'Terrace': 58, 'Golden': 59, 'Port Coquitlam': 60, 'White Rock': 61, 'Summerland': 62, 'Langley': 63, 'Huntingdon': 64, 'Yale': 65, 'Aiyansh': 66, 'Haney': 67, 'Bowen Island': 68, 'Fort Langley': 69, 'Clinton': 70, 'Cassiar': 71, 'Pender Harbour': 72, 'Parksville': 73, 'Mcleese Lake': 74, 'Fort St John': 75, 'Campbell River': 76, 'Wells': 77, 'Manning Park': 78, 'Decker Lake': 79, 'Salmon Arm': 80, 'Sooke': 81, 'Horsefly': 82, 'Invermere': 83, 'Topley': 84, 'Field': 85, 'Youbou': 86, 'Sorrento': 87, 'Merritt': 88, 'Rossland': 89, 'Castlegar': 90, 'Williams Lake': 91, 'Willow Point': 92, 'Woss': 93, 'Cobble Hill': 94, 'Bob Quinn Lake': 95, 'Hedley': 96, 'Sardis': 97, 'Sparwood': 98, 'Port Mcneill': 99, 'Salmon Valley': 100, 'Agassiz': 101, 'Avola': 102, 'Bear Lake': 103, 'Brackendale': 104, 'Skookumchuck': 105, 'Cranbrook': 106, 'Britannia Beach': 107, 'Comox': 108, 'Flatrock': 109, 'Princeton': 110, 'Fort Nelson': 111, 'Slocan': 112, 'Lumby': 113, 'Chase': 114, 'Boston Bar': 115, 'Port Alberni': 116, 'Union Bay': 117, 'Francois Lake': 118, 'Chief Lake': 119, 'Beaver Valley': 120, 'Oyster River': 121, "D'arcy": 122, 'Winfield': 123, 'Valemount': 124, 'Port Alice': 125, 'Lakeview Heights': 126, 'Canal Flats': 127, 'Tofino': 128, 'Mayne Island': 129, 'Bamfield': 130, 'Chilako River': 131, 'Grasmere': 132, 'Clearwater': 133, 'Osoyoos': 134, 'Grassy Plains': 135, 'Fulford Harbour': 136, 'Keremeos': 137, 'Fort St James': 138, 'Pitt Meadows': 139, 'Lakelse Lake': 140, 'Genelle': 141, 'Iskut': 142, 'Qualicum Beach': 143, 'Oyama': 144, 'Lillooet': 145, 'Ladysmith': 146, 'Chemainus': 147, 'Douglas Lake': 148, 'Yarrow': 149, 'Elkford': 150, 'Telegraph Creek': 151, 'Mission': 152, 'Fruitvale': 153, 'Vanderhoof': 154, 'Powell River': 155, 'Pemberton': 156, 'Tumbler Ridge': 157, 'Chilanko Forks': 158, 'Ashcroft': 159, 'Klemtu': 160, 'Cumberland': 161, 'Port Mellon': 162, 'Cortes Island': 163, 'Jaffray': 164, 'Black Point': 165, 'Forest Grove': 166, 'Grand Forks': 167, 'Hazelton': 168, 'Chetwynd': 169, 'Riske Creek': 170, 'Nakusp': 171, 'Rutland': 172, 'Bouchie Lake': 173, 'Greenwood': 174, 'Westbank': 175, 'Houston': 176, 'Gabriola Island': 177, 'Port Renfrew': 178, 'Wildwood': 179, 'Port Edward': 180, 'Balfour': 181, 'Pritchard': 182, 'Nimpo Lake': 183, 'Black Pool': 184, 'Vavenby': 185, 'Oliver': 186, 'Hemlock Valley': 187, 'Bella Bella': 188, 'Alexis Creek': 189, 'Parson': 190, 'Fraser Lake': 191, 'Seton Portage': 192, 'Rock Creek': 193, 'Kimberley': 194, 'Mcbride': 195, 'Peachland': 196, 'Dragon Lake': 197, 'Tappen': 198, 'Taylor': 199, 'Salmo': 200, 'Hansard': 201, 'Dease Lake': 202, 'Giscome': 203, 'Granisle': 204, 'Ucluelet': 205, 'Blue River': 206, 'Kitwanga': 207, 'Mica Creek': 208, 'Fernie': 209, 'Pouce Coupe': 210, 'Rosedale': 211, 'Bougie Creek': 212, 'Bridge Lake': 213, 'Lake Cowichan': 214, 'Revelstoke': 215, 'Tatla Lake': 216, 'Enderby': 217, 'Hope': 218, 'Radium Hot Springs': 219, 'Sayward': 220, 'Lower Post': 221, 'South Slocan': 222, 'Yahk': 223, 'Elko': 224, 'Christina Lake': 225, 'Cluculz Lake': 226, 'Toad River': 227, 'Celista': 228, 'Smithers': 229, 'Little Fort': 230, 'Sandspit': 231, 'Quadra Island': 232, 'Blueberry': 233, 'Okanagan Falls': 234, 'Cache Creek': 235, 'Barriere': 236, 'Lytton': 237, 'Sicamous': 238, 'Likely': 239, 'Fairmont Hot Springs': 240, 'Alkali Lake': 241, 'Spillimacheen': 242}
{'Baker': 0, 'Accounting Clerk': 1, 'Accounts Payable Clerk': 2, 'Accounts Receiveable Clerk': 3, 'Auditor': 4, 'Bakery Manager': 5, 'Benefits Admin': 6, 'Cashier': 7, 'Compensation Analyst': 8, 'HRIS Analyst': 9, 'Investment Analyst': 10, 'Labor Relations Analyst': 11, 'Recruiter': 12, 'Dairy Person': 13, 'Systems Analyst': 14, 'Trainer': 15, 'Meat Cutter': 16, 'CEO': 17, 'VP Stores': 18, 'Legal Counsel': 19, 'VP Human Resources': 20, 'VP Finance': 21, 'Exec Assistant, VP Stores': 22, 'Exec Assistant, Human Resources': 23, 'Exec Assistant, Legal Counsel': 24, 'CHief Information Officer': 25, 'Store Manager': 26, 'Meats Manager': 27, 'Exec Assistant, Finance': 28, 'Director, Recruitment': 29, 'Director, Training': 30, 'Director, Labor Relations': 31, 'Director, HR Technology': 32, 'Director, Employee Records': 33, 'Director, Compensation': 34, 'Corporate Lawyer': 35, 'Produce Manager': 36, 'Director, Accounts Receivable': 37, 'Director, Accounts Payable': 38, 'Director, Audit': 39, 'Director, Accounting': 40, 'Director, Investments': 41, 'Processed Foods Manager': 42, 'Customer Service Manager': 43, 'Dairy Manager': 44, 'Produce Clerk': 45, 'Shelf Stocker': 46}
{'Bakery': 0, 'Accounting': 1, 'Accounts Payable': 2, 'Accounts Receiveable': 3, 'Audit': 4, 'Employee Records': 5, 'Customer Service': 6, 'Compensation': 7, 'HR Technology': 8, 'Investment': 9, 'Labor Relations': 10, 'Recruitment': 11, 'Dairy': 12, 'Information Technology': 13, 'Training': 14, 'Meats': 15, 'Executive': 16, 'Store Management': 17, 'Legal': 18, 'Produce': 19, 'Processed Foods': 20}
{'Burnaby': 0, 'Nanaimo': 1, 'Richmond': 2, 'Victoria': 3, 'New Westminster': 4, 'Vancouver': 5, 'West Vancouver': 6, 'Kamloops': 7, 'North Vancouver': 8, 'Aldergrove': 9, 'Kelowna': 10, 'Trail': 11, 'Quesnel': 12, 'Cranbrook': 13, 'Abbotsford': 14, 'Dawson Creek': 15, 'Surrey': 16, 'Squamish': 17, 'Terrace': 18, 'Chilliwack': 19, 'Prince George': 20, 'New Westminister': 21, 'Vernon': 22, 'Nelson': 23, 'Fort St John': 24, 'Williams Lake': 25, 'Ocean Falls': 26, 'Port Coquitlam': 27, 'White Rock': 28, 'Langley': 29, 'Haney': 30, 'Princeton': 31, 'Fort Nelson': 32, 'Valemount': 33, 'Pitt Meadows': 34, 'Bella Bella': 35, 'Cortes Island': 36, 'Grand Forks': 37, 'Dease Lake': 38, 'Blue River': 39}
{'Stores': 0, 'FinanceAndAccounting': 1, 'HumanResources': 2, 'InfoTech': 3, 'Executive': 4, 'Legal': 5}

In [452]:
data = raw_data

#### Toevoegen populatiedata
Op basis van de woonplaats kunnen we populatiedata toevoegen aan de dataset die we hebben. Het is namelijk voor te stellen dat ziekteverzuim verband houd met de urbaniteit van iemands omgeving. Om deze data toe te voegen ga ik wikipedia scrapen. Ik weet door te kijken naar de data en de beschrijving van de dataset dat alle woonplaatsen zich bevinden in Canada, British Columbia dus begin ik met het scrapen van een lijst van populatiecentrums in British Columbia.

In [453]:
# population/population density
#Defineren van website en stukken waarop gescraped moet worden
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_population_centres_in_British_Columbia').text
soup = BeautifulSoup(website_url,'lxml')
My_table = soup.find('table')
names = My_table.findAll('a')
populations = My_table.findAll('span')

# Lijst met steden/dorpen in British Columbia scrapen van wikipedia
CitiesinBC = []
for name in names:
    CitiesinBC.append(name.string)
    
#Steden met twee namen weghalen uit lijst
CitiesinBC.remove('Fruitvale')
CitiesinBC.remove('Mill Bay')


# Populatie van steden en dorpen in BC scrapen van wikipedia
Population = []
for value in populations:
    value_txt = value.text
    valnum = value_txt.replace(',', "")
    Population.append(valnum)

# Aanmaken DF voor populatie
PopulationBCdf = pd.DataFrame()
PopulationBCdf['City'] = CitiesinBC
PopulationBCdf['Population'] = Population
PopulationBCdf['Population'] = PopulationBCdf['Population'].astype(int)

# Toevoegen populatie aan nieuwe dataset en veranderen naar numeric
data=data.merge(PopulationBCdf, left_on='City', right_on='City', how='left')

In [454]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8336 entries, 0 to 8335
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EmployeeNumber  8336 non-null   int64
 1   Surname         8336 non-null   object
 2   GivenName       8336 non-null   object
 3   Gender          8336 non-null   object
 4   City            8336 non-null   object
 5   JobTitle        8336 non-null   object
 6   DepartmentName  8336 non-null   object
 7   StoreLocation   8336 non-null   object
 8   Division        8336 non-null   object
 9   Age             8336 non-null   float64
 10  LengthService   8336 non-null   float64
 11  AbsentHours     8336 non-null   float64
 12  BusinessUnit    8336 non-null   object
 13  workinhometown  8336 non-null   int32
 14  Population      5042 non-null   float64
dtypes: float64(4), int32(1), int64(1), object(9)
memory usage: 1009.4+ KB

#### Toevoegen extra populatiedata
Zoals hierboven te zien zijn er nog veel missende waarden in populatie (meer dan 3000) dus wil ik nog een andere manier proberen om aan extra populatiedata te komen. Hiervoor zal ik eerst hieronder de namen van de woonplaatsen met missende waarden ophalen uit mijn data en deze daarna gebruiken in een scraper die de individuele wikipediapagina's van deze woonplaatsen scraped voor missende data.

In [ ]:
is_NaN = data.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = data[row_has_NaN]
rows_with_NaN.City.unique()
ontbrekend = rows_with_NaN.City.unique()

In [455]:
# vind de ontbrekende populaties

ontbrekende_towns = []
population_ontbreek = []
error_towns = []
error = []
for city_name in ontbrekend:
    base_url = 'https://en.wikipedia.org/wiki/'
    city = city_name
    prov = ',_British Columbia'
    site = base_url + city + prov

    myhtml = requests.get(site).text
    sup = BeautifulSoup(myhtml)
    tbody = sup.find('tbody')
    try:
        tr_list = tbody.find_all('tr')
        i = 0
        for elem in tr_list:
            elemtext = elem.text
            if elemtext.find('Total') >= 0:
                ind = i
            i += 1
        try:
            raw_number = (tr_list[ind].text)
            number = raw_number.strip('\xa0•\xa0Total')
            sep = ' '
            rest = number.split(sep, 1)[0]
            remove = rest.replace('[1]', "") 
            clean = remove.replace(',', "")
            if clean.isdigit():
                ontbrekende_towns.append(city)
                population_ontbreek.append(clean)            
        except:
            error_towns.append(city)
            error.append("Error")
    except:
            error_towns.append(city)
            error.append("Page does not exist")

In [456]:
#aanmaken nieuwe DF met pop
Populationontdf = pd.DataFrame()
Populationontdf['City'] = ontbrekende_towns
Populationontdf['Population'] = population_ontbreek
Populationontdf["Population"] = Populationontdf["Population"].apply(pd.to_numeric)

In [459]:
# Toevoegen populatie aan nieuwe dataset 
data=data.merge(Populationontdf, left_on='City', right_on='City', how='left')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8336 entries, 0 to 8335
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EmployeeNumber  8336 non-null   int64
 1   Surname         8336 non-null   object
 2   GivenName       8336 non-null   object
 3   Gender          8336 non-null   object
 4   City            8336 non-null   object
 5   JobTitle        8336 non-null   object
 6   DepartmentName  8336 non-null   object
 7   StoreLocation   8336 non-null   object
 8   Division        8336 non-null   object
 9   Age             8336 non-null   float64
 10  LengthService   8336 non-null   float64
 11  AbsentHours     8336 non-null   float64
 12  BusinessUnit    8336 non-null   object
 13  workinhometown  8336 non-null   int32
 14  Population_x    5042 non-null   float64
 15  Population_y    2109 non-null   float64
 16  Population      7151 non-null   float64
dtypes: float64(6), int32(1), int64(1), object(9)
memory usage: 1.1+ MB

In [460]:
# merge population x en population y in Population en remove x en y daarna
data["Population"] = data['Population_x'].combine_first(data['Population_y'])
del data['Population_x']
del data['Population_y']

In [462]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8336 entries, 0 to 8335
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EmployeeNumber  8336 non-null   int64
 1   Surname         8336 non-null   object
 2   GivenName       8336 non-null   object
 3   Gender          8336 non-null   object
 4   City            8336 non-null   object
 5   JobTitle        8336 non-null   object
 6   DepartmentName  8336 non-null   object
 7   StoreLocation   8336 non-null   object
 8   Division        8336 non-null   object
 9   Age             8336 non-null   float64
 10  LengthService   8336 non-null   float64
 11  AbsentHours     8336 non-null   float64
 12  BusinessUnit    8336 non-null   object
 13  workinhometown  8336 non-null   int32
 14  Population      7151 non-null   float64
dtypes: float64(4), int32(1), int64(1), object(9)
memory usage: 1009.4+ KB

#### Tevreden met aantal populatiedata
Zoals we hierboven kunnen zien is het aantal rijen met ontbrekende populatiedata sterk afgenomen. Ik ben tevreden met het aantal rijen dat we overhouden als we de rijen met ontbrekende waarden weggooien en ga dit dan ook doen.

In [472]:
# Gooi lege rijen weg
data.dropna(subset = ["Population"], inplace=True)

#### Toevoegen extra data op basis van dataset
Nu ga ik proberen om data toe te voegen op basis van de huidige rijen in de dataset.

De rijen die ik ga maken zijn:
1. Workinhometown, dit is een nominale variabele die aangeeft of iemand werkt in zijn woonplaats: Ja (1) of Nee (0). Dit zou een effect op verzuim kunnen hebben omdat reizen naar werk condities kan veroorzaken die leiden tot verzuim.
2. PopulationCat, dit is een catagorische variabele die de populatie indeelt in 4 catagorieën: Urban (1), Semi-Urban (2), Semi-Rural (3) en Rural (4) op basis van de populatie waarbij alles boven de 100.000 urban is, tussen 100.000 en 25.000 Semi-Urban, Alles tussen 25.000 en 10.000 Semi-rural en 10.000 of kleiner Rural.
3. Om predictive analytics met Random Forest te kunnen doen moet de te voorspellen variabele binair zijn in plaats van continue. Daarom verander ik de AbsentHours variabele naar een binaire variabele 'FrequentlyAbsent'. Het gemiddelde aantal ziektedagen in British Columbia (Canada) is 8.9 (https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1410019001&pickMembers%5B0%5D=2.1&pickMembers%5B1%5D=3.8). Op basis daarvan deel ik iedereen die meer dan 14 dagen absent is (meer dan 96 uur) in als iemand die frequent absent is (1) en anderen als niet frequent absent (0).

In [464]:
# 1. Workinhometown Werkt iemand in dezelfde stad als dat hij/zij woont?
data['Workinhometown'] = np.where(data['City']==data['StoreLocation'], 1, 0)

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [474]:
# 2. PopulationCat Population in 4 catagorieën
data['PopulationCat'] = 1
data.loc[(data['Population'] > 0) & (data['Population'] <= 10000), 'PopulationCat'] = 4
data.loc[(data['Population'] > 10000) & (data['Population'] <= 25000), 'PopulationCat'] = 3
data.loc[(data['Population'] > 25000) & (data['Population'] <= 100000), 'PopulationCat'] = 2

In [476]:
# 3. FrequentlyAbsent, te voorspellen variabele binair
data['FrequentlyAbsent'] = 0
data.loc[(data['AbsentHours'] > 96), 'FrequentlyAbsent'] = 1

In [478]:
data.describe()

,EmployeeNumber,Age,LengthService,AbsentHours,workinhometown,Population,PopulationCat,FrequentlyAbsent
count,7151.000000,7151.000000,7151.000000,7151.000000,7151.000000,7.151000e+03,7151.000000,7151.000000
mean,4173.564816,42.048296,4.811548,61.365125,0.778213,6.572897e+05,1.908404,0.241505
std,2404.648199,9.943955,2.579410,49.158877,0.415478,9.337471e+05,1.109212,0.428025
min,1.000000,3.504743,0.012098,0.000000,0.000000,1.440000e+02,1.000000,0.000000
25%,2082.000000,35.358220,3.588119,19.157159,1.000000,2.327800e+04,1.000000,0.000000
50%,4174.000000,42.136477,4.610854,55.762033,1.000000,1.212790e+05,1.000000,0.000000
75%,6264.500000,48.689218,5.629511,94.639436,1.000000,5.178870e+05,3.000000,0.000000
max,8336.000000,77.938003,43.735239,272.530123,1.000000,2.264823e+06,4.000000,1.000000

#### Einde datapreparatie
Hiermeer komt er een eind aan de preparatie van de data, nu ga ik beginnen met de volgende stap, het exploreren van de data met visualisaties.

# Exploreren data door middel van visualisaties

In [ ]:
# hier exploreren

# Voorspellen ziekteverzuim

In [ ]:
# hier voorspellen

# Conclusie